%html{'ng-app' => 'app'}
  %head
    %meta{charset: 'utf-8'}
    %title Memo
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    - if Rails.env.development?
      = javascript_include_tag 'faker/MinFaker'
    = csrf_meta_tags
  %body
    %header
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: '#'} Memo
          .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                  Folders
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{href: '#'} Ryarc
                  %li
                    %a{href: '#'} PHP
                  %li
                    %a{href: '#'} Ruby
    .container
      = yield